# Python
__pycache__/
*.pyc
*.pyo

# Virtual Environment
venv/

# Environment Variables
.env

# VS Code
.vscode/

# JetBrains
.idea/

# Streamlit Cache
.streamlit/

# OS Files
.DS_Store
Thumbs.db

# Temporary
*.log
